.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.load-more-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.load-more-button:hover {
  background-color: #333;
}
