.product-section {
  padding: 80px 0 30px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}


.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.product-name {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.product-names {  
  margin-bottom: 10px;
  color: #111;
  text-align: center;
}

.view-all-link {
  font-size: 0.95rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease;
}

.view-all-link:hover {
  color: #ff3838;
}

.product-grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
}


.products-cards {
  box-shadow: 0 10px 25px rgb(255, 255, 255);
  width: 100%;
  max-width: 350px;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease;
   
}

.products-cards:hover {
  transform: translateY(-5px);
}

.products-label {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #050505;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  z-index: 3;
}

.products-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
  max-height: 370px;
  object-fit: cover;
}

.products-info {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin-bottom: 20px;
}

.products-names{
  margin-bottom: 5px;
  font-weight: 40px;
  text-align: left;
}

.products-price {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  text-align: left;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 6px;
  font-weight: 400;
}


@media (max-width: 768px) {
  .product-name{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

  .products-grid {
    padding: 0 16px;
    gap: 12px;
  }

  .product-price {
    font-size: 14px;
  }

  .product-info {
    padding: 8px 12px;
  }

  .product-image {
    height: 160px;
  }
}

