
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0 36px;
  box-sizing: border-box;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  width: 100%;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.product-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #000000;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}

.product-info {
  padding: 10px 15px;
  text-align: left;
 
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.current-price {
  color: #000;
  font-weight: 600;
}

.original-price {
  color: #aaa;
  text-decoration: line-through;
  font-size: 14px;
}
