.artisanal-container {
  padding: 1rem;
}

.artisanal-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.artisanal-sidebar {
  min-width: 200px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.artisanal-title {
  font-size: 48px;
  font-weight: 700;
  margin: 30px 0 10px;
  text-align: left;
}

.artisanal-description {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: left;
  align-self: flex-start;
}

.artisanal-products {
  flex: 3;
  min-width: 300px;
}

.artisanal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 16px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-count {
  font-size: 16px;
}


@media (max-width: 768px) {
  .artisanal-layout {
    flex-direction: column;
  }

  .artisanal-sidebar,
  .artisanal-main {
    flex: 1 1 100%;
  }
}
